.cardWrap {
    padding: 15px;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 8px;
    background-color: white;
    box-shadow: 10px 9px 40px 10px rgba(0, 0, 0, 0.25);
}

.cardTitleWrap {
    display: flex;
    margin-bottom: 20px;
}

.cardIcon {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardTitle {
    display: block;
    font-weight: 600;
    font-size: 20px;
}

.cardSumWrap {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

.cardSumTitle {
    display: block;
    margin-right: 10px;
    font-weight: 300;
    font-size: 15px;
}

.cardSumValue {
    display: block;
    font-weight: 500;
    font-size: 20px;
}